<div class="navbar">
    <div class="brand">紫 m u r a s a k i</div>
    <div class="nav-links" style="padding-right: 35px;">
        <a href="#home">home.</a>
        <a href="#about">about.</a>
        <a href="#projects">projects.</a>
    </div> 
</div>